// CARDS INDEX  
.container-articles {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.article-flex-name-price {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    h3 {
        margin-left: 8px;
    }

    p {
        margin-right: 8px;
    }
}

.article {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;
    margin-bottom: 16px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding-bottom: 6px;

    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 16px 16px 0px 0px;
    }
}

.price-article {
    font-weight: bold;
}

.description-article {
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: 8px;
    margin-right: 8px;
}

// CARDS PRODUCT

.container-produit {
    margin: 0 auto;
    background-color: white;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    position: relative;
    width: 60%;
    height: auto;

    a {
        position: absolute;
        background: #F3E8F0;
        padding: 10px;
        border-radius: 5px 0px 0px 5px;
        color: black;
        font-size: 22px;
        bottom: 210px;
        right: 0px;


        &:hover {
           background: lighten(#F3E8F0, 2%);
        }
    }

    img {
        width: 100%;
        height: 280px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }

    h2 {
        font-size: 28px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    p {
        text-align: center;
        color: lightgrey;
    }
}

#bold-price {
    font-weight: bold;
    margin-top: 16px;
    font-size: 22px;
    color:black;
}

.flex-title-dropdown {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
}

.dropdown {
    margin-top: 10px;
    font-size: 20px;
    outline: none;
    margin-bottom: 16px;

    &:hover {
        border: 1px solid #F3E8F0;
    }
}

.input-quantity {
    text-align: center;
    margin-top: 10px;

    .button-quantity {
        width: 20px;
        height: 20px;
    }

    .quantity {
        width: 30px;
        text-align: center;
    }
}

// CARDS BASKET 

h2 {
    font-family: "Playfair Display", "helvetica", "sans serif";
    text-align: center;
    margin-top: 8px;
}

.container-basket {
    margin: 0 auto;
}

.article-panier {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    margin-top: 22px;
    margin-bottom: 22px;
    width: 100%;
    height: 100px;

    img {
        object-fit: cover;
        width: 96px;
        height: 96px;
    }

    i {
        font-size: 24px;

        &:hover {
            color: #F3E8F0;
        }
    }

    h3 {
        margin-left: 4px;
        margin-right: 2px;
        font-size: 10px;
    }

    p {
        font-size: 10px;
        color: lightgrey;
    }

    .dropdown-basket {
        outline: none;
        font-size: 16px;

        &:hover {
            border: 1px solid #F3E8F0;
        }
    }
}

#bold-price-basket {
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.number-input {
    width: 30px;
    height: 22px;
}

.card-total-basket {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    width: 100%;
    height: 134px;
    padding-bottom: 22px;
    position: relative;
    margin-bottom: 30px;
}

.recapitulatif-produit {
    display: flex;
    justify-content: space-between;

    p {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 16px;
        font-size: 22px;
    }
}

.total-price {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    border-top: 1px solid #333;

    p {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 16px;
        font-size: 22px;
    }
}

#font-playfair {
    font-family: "Playfair Display", "helvetica", "sans serif";
}

// CARD PAGE ORDER

.container-order {
    margin: 0 auto;
    background: #F3E8F0;
    margin: 26px 96px;
    border-radius: 16px;
    padding: 22px 0px;

    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        text-align: center;
    }

    h2 {
        font-size: 26px;
        margin-bottom: 12px;
    }

    p {
        text-align: center;
        margin-top: 22px;
        font-size: 22px;
    }
}

// MOBILE

@media screen and (min-width: 320px) and (max-width: 767px) {

    // CARD INDEX

    .container-articles {
        display: flex;
        flex-wrap: wrap;
    }

    // CARD PRODUCT

    .container-produit {
        width: 90%;

        h2 {
            font-size: 18px;
        }

        a {
            bottom: 231px;
        }
    }

    .dropdown {
        font-size: 14px;
    }

    // CARD BASKET

    .flex-products-form{
        display: flex;
        flex-wrap: wrap;
    }

    // CARD ORDER 

    .container-order {
        width: 100%;
        margin: 0px;
        margin-top: 22px;
        border-radius: 0px;

        img {
            height: 250px;
        }
    }

}

// GRAND ECRAN 

@media screen and (min-width: 1441px) and (max-width: 2560px) {

    // CARD INDEX

    .container-articles {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .article {
        img {
            height: 200px;
        }
    }

    // CARD PRODUCT

    .container-produit {
        width: 90%;
        height: 1100px;

        a {
            bottom: 281px;
            font-size: 86px;
            border-radius: 15px 0px 0px 15px;
        }

        h2 {
            font-size: 50px;
        }

        p {
            font-size: 40px;
        }

        img {
            height: 850px;
        }
    }

    .dropdown {
        font-size: 50px;
    }

    #bold-price {
        font-size: 50px;
    }

    // CARD BASKET 

    .card-total-basket {
        height: 200px;
    }

    // CARD ORDER 

    .container-order {
        height: 1500px;
        margin-top: 56px;
        margin-bottom: 56px;

        img {
            height: 1100px;
        }

        h2 {
            font-size: 70px;
        }

        p {
            font-size: 50px;
        }
    }

}
