@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container-articles {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.article-flex-name-price {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.article-flex-name-price h3 {
  margin-left: 8px;
}
.article-flex-name-price p {
  margin-right: 8px;
}

.article {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 38px;
  margin-bottom: 16px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding-bottom: 6px;
}
.article img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.price-article {
  font-weight: bold;
}

.description-article {
  margin-top: 6px;
  margin-bottom: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.container-produit {
  margin: 0 auto;
  background-color: white;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
  position: relative;
  width: 60%;
  height: auto;
}
.container-produit a {
  position: absolute;
  background: linear-gradient(90deg, #fcb045 0%, #833ab4 100%);
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
  color: white;
  font-size: 22px;
  bottom: 182px;
  right: 0px;
}
.container-produit a:hover {
  background: linear-gradient(90deg, #fdc577, #9c58c9);
}
.container-produit img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.container-produit h2 {
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container-produit p {
  text-align: center;
  color: lightgrey;
}

#bold-price {
  font-weight: bold;
  margin-top: 16px;
  font-size: 22px;
  color: black;
}

.flex-title-dropdown {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
}

.dropdown {
  margin-top: 10px;
  font-size: 20px;
  outline: none;
  margin-bottom: 16px;
}
.dropdown:hover {
  border: 1px solid #F3E8F0;
}

h2 {
  font-family: "Playfair Display", "helvetica", "sans serif";
  text-align: center;
  margin-top: 8px;
}

.container-basket {
  margin: 0 auto;
}

.article-panier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin-top: 22px;
  margin-bottom: 22px;
  width: 60%;
  height: 100px;
  position: relative;
}
.article-panier img {
  object-fit: cover;
  width: 96px;
  height: 96px;
}
.article-panier i {
  font-size: 24px;
}
.article-panier i:hover {
  color: #F3E8F0;
}
.article-panier h3 {
  margin-left: 10px;
  margin-right: 2px;
  font-size: 14px;
}
.article-panier p {
  font-size: 10px;
  color: lightgrey;
}
.article-panier .dropdown-basket {
  outline: none;
}
.article-panier .dropdown-basket:hover {
  border: 1px solid #F3E8F0;
}

#bold-price-basket {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.number-input {
  width: 30px;
  height: 22px;
}

.card-total-basket {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.recapitulatif-produit {
  display: flex;
  justify-content: space-between;
}
.recapitulatif-produit p {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  font-size: 22px;
}

.total-price {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  border-top: 1px solid #333;
  margin-left: 16px;
  margin-right: 16px;
}
.total-price p {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 16px;
  font-size: 22px;
}

#font-playfair {
  font-family: "Playfair Display", "helvetica", "sans serif";
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #F3E8F0;
  width: 100%;
  height: 80px;
  position: relative;
}
nav img {
  width: 170px;
  height: 80px;
  margin-left: 16px;
}
nav a {
  display: flex;
  align-items: center;
  font-family: "Playfair Display", "helvetica", "sans serif";
  margin-right: 16px;
  font-size: 26px;
  margin: 0px;
  margin-right: 16px;
}

.basket-products {
  display: flex;
}

.number-products-basket {
  border-radius: 50%;
  background: linear-gradient(90deg, #fcb045 0%, #833ab4 100%);
  padding: 11px;
  font-size: 14px;
  position: absolute;
  top: 40px;
  right: 5px;
}

.number {
  position: absolute;
  top: 43px;
  right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

main {
  position: relative;
}
main img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  opacity: 0.8;
}
main p {
  color: #F3E8F0;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  text-align: center;
  bottom: 247px;
  left: 2px;
  font-size: 52px;
  font-family: "Playfair Display", "helvetica", "sans serif";
}

footer {
  background-color: #F3E8F0;
  width: 100%;
  height: 110px;
  margin-top: 28px;
  display: flex;
  justify-content: center;
  font-size: 32px;
}
footer p {
  display: flex;
  margin-left: 16px;
  align-items: center;
}

.button {
  text-align: center;
  margin-top: 22px;
  margin-bottom: 22px;
  padding: 16px;
  border-radius: 26px;
  border: 1px solid #FFFFFF;
  color: white;
  font-weight: bold;
  background: linear-gradient(90deg, #fcb045 0%, #833ab4 100%);
  outline: none;
}
.button:hover {
  background: linear-gradient(90deg, #fdc577, #9c58c9);
}

/*# sourceMappingURL=style.css.map */
